@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Courier Prime', monospace;
}

p,
li {
    font-family: 'Sono', monospace;
    @apply text-sm sm:text-base
}

p {
    text-align: justify;
}

h1 {
    @apply text-2xl
}

h2 {
    @apply text-lg sm:text-xl
}

h3 {
    @apply text-base sm:text-lg
}

.image {
    @apply border-paradiso border-b-4 border-l-4 opacity-70
}

.button {
    @apply p-2 border-[3px] hover:italic text-center scale-90 sm:scale-100 line-clamp-1 truncate
}


.form {
    @apply text-white bg-mirage w-full border-l-2 border-b-2 border-tan
}

/* Navigation Bar */

.sky-discrete {
    @apply bg-paradiso h-4;
}

.navbutton {
    @apply button w-32 text-black hover:bg-tan hover:bg-opacity-20
}

/* Custom Slider */

::-webkit-scrollbar {
    @apply w-[5px] sm:w-[10px]
}

::-webkit-scrollbar-track {
    @apply bg-transparent -z-50
}

::-webkit-scrollbar-thumb {
    @apply bg-shuttle
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-paradiso
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    @apply w-2/3 h-6 bg-moon opacity-70
}

.slider:hover {
    @apply opacity-100
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    @apply bg-paradiso h-6 w-6
}

.slider::-moz-range-thumb {
    cursor: pointer;
    @apply bg-paradiso h-6 w-6
}

/* Moon Animation */

:root {
    --speed: 5s;
}

@keyframes orbit {
    0% {
        transform: rotate(0deg) translateX(10px) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translateX(10px) rotate(-360deg);
    }
}

.orbit {
    animation: orbit var(--speed) infinite linear;
}