@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Comforta', monospace;
}

h1,
h2,
h3 {
    font-family: 'Courier Prime', monospace;
    font-size: xx-large;
}

/* Navigation Bar */
.sky-continuous {
    background: linear-gradient(to top,
            rgba(52, 123, 131, 1),
            rgba(52, 123, 131, 0.4),
            rgba(52, 123, 131, 0.1),
            rgba(52, 123, 131, 0));
    opacity: 1;
}

.sky-discrete {
    @apply bg-paradiso h-4;
}

.navbutton {
    @apply p-2 text-black border-[3px] hover:italic hover:bg-tan hover:bg-opacity-20
}