@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Courier Prime', monospace;
}

p,
li {
    font-family: 'Sono', monospace;
    font-size: base;
}

p {
    text-align: justify;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}

.image {
    @apply border-paradiso border-b-4 border-l-4 opacity-70
}


/* Navigation Bar */
.sky-continuous {
    background: linear-gradient(to top,
            rgba(52, 123, 131, 1),
            rgba(52, 123, 131, 0.4),
            rgba(52, 123, 131, 0.1),
            rgba(52, 123, 131, 0));
    opacity: 1;
}

.sky-discrete {
    @apply bg-paradiso h-4;
}

.button {
    @apply p-2 border-[3px] hover:italic text-center scale-90 sm:scale-100 line-clamp-1 truncate
}

.navbutton {
    @apply button w-32 text-black hover:bg-tan hover:bg-opacity-20
}

.form {
    @apply text-white bg-mirage w-full border-l-2 border-b-2 border-tan
}

*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}